@import "tailwindcss";

:root {
  --background: #1E1E1E;
  --foreground: #ffffff;
  --button-main: #F03C2B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Lato', 'League Spartan', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'League Spartan', sans-serif;
}